<!DOCTYPE html>
<html>
<head>
    <title>
        <sitemesh:write property='title'/>
    </title>
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
    <sitemesh:write property='head'/>
</head>
<body>
<div class="container">
    <div class="hero-unit">
        <h1>Cloud Foundry DEMO</h1>

        <p>Utilizing Spring, Thymeleaf, Bootstrap, JQuery, Sitemesh</p>
    </div>
    <sitemesh:write property='body'/>
</div>
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
</body>
</html>
